<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>To Do List</title>
  <!-- <link rel="stylesheet" href="css/bootstrap.min.css"> -->
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="css/w3.css">
</head>

<body>
  <div id="content">
    <div class="d-flex flex-row-reverse bd-highlight mb-3">
      <div class="option">X</div>
      <div class="option">-</div>
    </div>